.previewWrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
  }

  & .preview {
    height: 100%;
    width: 100%;
  }
}

.previewError {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}